@font-face {
  font-family: "Bagnard";
  src: url(../assets/fonts/Bagnard.woff2) format("woff2"),
    url(../assets/fonts/Bagnard.woff) format("woff");
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url(../assets/fonts/OverusedGrotesk-Medium.woff2) format("woff2"),
    url(../assets/fonts/OverusedGrotesk-Medium.woff) format("woff");
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url(../assets/fonts/OverusedGrotesk-Bold.woff2) format("woff2"),
    url(../assets/fonts/OverusedGrotesk-Bold.woff) format("woff");
  font-weight: bold;
}
