body {
  font-family: 'OverusedGrotesk';
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bagnard';
} */

h1,
.h1 {
  font-size: var(--size-900);
}
h2,
.h2 {
  font-size: var(--size-800);
}
h3,
.h3 {
  font-size: var(--size-700);
}
h4,
.h4 {
  font-size: var(--size-600);
}
h5,
.h5 {
  font-size: var(--size-500);
}
h6,
.h6 {
  font-size: var(--size-400);
}
