---
const { title } = Astro.props;
import '../styles/main.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="fuzz-container">
      <slot />
      <div class="fuzzy-overlay"></div>
    </div>
  </body>
</html>

<style>
  /* .fuzz-container {
    position: relative;
    overflow: hidden;
  } */

  /* .fuzzy-overlay {
    pointer-events: none;
    position: absolute;
    inset: -200%;
    background: url('../assets/textures/Texturelabs_ReticulationNoise.jpg');
    opacity: 5%;
    animation: shift 0.2s linear infinite both;
  } */

  @keyframes shift {
    0% {
      transform: translateX(10%) translateY(10%);
    }
    100% {
      transform: translateX(-10%) translateY(-10%);
    }
  }
</style>
